{%extends "./base.html"%}
{%load static%}
{%block title%}My Portfolio{%endblock%}
{%block content%}
    <header>
       {%include "./navbar.html"%}
        <section class="home">    
            <img src="{%static 'assets/circular-diwash.png'%}" class="home-img-responsive">
            <img src="{%static 'assets/diwash.png'%}" class="home-img">
            <div class="home-info">
                <p>HEY! I AM</p>
                <h1>Diwash Lamichhane</h1>
                <h3>I'm a Web Developer</h3>
                <button class="btn-orange margin-btn"><a href="/about">About me</a></button>
            </div>
        </section>
    </header>
{%endblock%}